@using BiosManager.Models.Enums
@model BiosManager.Helpers.FilmsGenresBigViewModel
@Styles.Render("~/Content/Site.css")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/Scripts/Filter.js")

@{
 List<SelectListItem> filmList = new List<SelectListItem>();
 foreach (var item in Model.Genres)
 {
  filmList.Add(new SelectListItem
  {
   Text = item.ToString(),
   Value = item.ToString()
  });
 }
}


<input class="form-control" id="myInput" type="text" placeholder="Search here" />
<br />
@using (Html.BeginForm())
{ 
	@Html.AntiForgeryToken()
    <div class="form-group dropdown">
        @Html.DropDownListFor(m => m.GekozenType, filmList)
        <input type="submit" value="Filter"/>
    </div>
  <table id="tabletitles" style="width: 80%">
   <thead>
    <tr>
     <th style="width: 20%">Naam</th>
     <th style="width: 20%">Jaar</th>
     <th style="width: 20%">Genre</th>
     <th style="width: 20%">Rating</th>
    </tr>
   </thead>
  </table>
  <table id="myTable" style="width: 100%">
   <tbody id="myTable">
    @foreach (var item in Model.ListFilms)
    {
   <tr>
    <td style="width: 20%">
     @Html.DisplayFor(model => item.Naam) &nbsp;
    </td>
    <td style="width: 20%">
     @Html.DisplayFor(model => item.Jaar)&nbsp;
    </td>
    <td style="width: 20%">
     @Html.DisplayFor(model => item.Genres)&nbsp;
    </td>
    <td style="width: 20%">
     @Html.DisplayFor(model => item.Rating)&nbsp;
    </td>
    <td>
     @using (Html.BeginForm("Films", "Film", FormMethod.Post))
	{
      <button>@Html.ActionLink("Details", "Details", "Film", new { id = item.Id }, null)</button>
	}
    </td>
   </tr>
    }
   </tbody>
  </table>
}
