@model List<BiosManager.Models.Voorstelling>
@Styles.Render("~/Content/Site.css")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/Scripts/Filter.js")

@{
 ViewBag.Title = "Voorstellingen";
}

<h2>Voorstellingen</h2>

@using (Html.BeginForm())
{
 <input class="form-control" id="myInput" type="text" placeholder="Search here" />
 <br />
 <table id="myTable" style="width: 100%">
  <thead>
   <tr>
    <th>Zaal</th>
    <th>Start</th>
    <th>Einde</th>
   </tr>
  </thead>
  <tbody> 
   @foreach (var item in Model)
   {
   <tr>
    <td>
     @Html.DisplayFor(model => item.Zl.Nummer) &nbsp;
    </td>
    <td>
     @Html.DisplayFor(model => item.Starttijd)&nbsp;
    </td>
    <td>
     @Html.DisplayFor(model => item.Eindtijd)&nbsp;
    </td>
    <td>
     @using (Html.BeginForm("MaakRes", "Voorstelling", FormMethod.Get))
	{
     <button>@Html.ActionLink("Reserveer", "MaakRes", "Voorstelling", new { voorstellingId = item.Id }, null)</button>
	}
    </td>
   </tr>
   }
  </tbody>
 </table>
}