@using System.IdentityModel.Tokens
@using System.Web.UI.WebControls
<!DOCTYPE html>
<html lang="en">
<head>
	@Scripts.Render("~/Content/Site.css")
 @Styles.Render("~/Content/Bootstrap/bootstrap.css")
	<meta charset="utf-8" />
</head>
<body>
<div class="banner">
	<ul>
		@Html.ActionLink("Home","Index","Home")
		@Html.ActionLink("Films", "Films", "Film")
		@Html.ActionLink("Login", "Login", "Account")
		@Html.ActionLink("Register", "Register", "Account")
	</ul>
</div>
@RenderBody()
 </body>
</html>